/*reset CSS
đặt các giá trị margin và padding về 0 cho tất cả các phần tử trong trang web (* là tất cả các phần tử) để loại bỏ các giá trị mặc định của trình duyệt

đặt font chữ mặc định cho trang web là một danh sách các font có thứ tự ưu tiên từ Cambria đến serif.

*/
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/*
định dạng banner với kích thước chiều rộng 100% và chiều cao bằng toàn bộ viewport (100vh)
*/
.background{
    background-image: url("../images/Background.jpg");
    background-size: cover;
    background-position: center;
}
.banner{
    width: 100%;
    height: 70vh;
    color: black;
        
}
/*định dạng thanh navbar với chiều rộng 85% của trang và căn giữa bằng cách sử dụng margin: auto. Nó cũng đặt khoảng cách padding ở trên và dưới là 35px và sử dụng display: flex để căn các phần tử bên trong theo chiều ngang, với align-items: center và justify-content: space-between để căn các phần tử bên trong theo chiều dọc và ngang.*/
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}

/*
định kiểu cho các phần tử anchor nằm trong danh sách không được đánh số (ul) nằm trong lớp .navbar. Nó loại bỏ text decoration, đặt màu thành trắng, và đặt văn bản thành chữ in hoa.
*/
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    
}


/*
định kiểu cho lớp .logo. Nó đặt chiều rộng thành 120px, và đặt con trỏ thành pointer.
*/

.logo{
    width: 120px;
    cursor: pointer;
}

/*
định kiểu cho các phần tử danh sách (li) nằm trong danh sách không được đánh số (ul) nằm trong lớp .navbar
loại bỏ kiểu danh sách, đặt display thành inline-block, đặt margin thành 0px 20px, loại bỏ text decoration, và đặt vị trí thành relative.
*/
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    position: relative;
    text-align: center;

    

}
.navbar button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    /* border-radius: 25px; */
    font-weight: bold;
    border: 2px ;
    background: red;
    color: #fff;
    cursor: pointer;

}
/*
định kiểu cho phần tử sau (after) của các phần tử danh sách (li) nằm trong danh sách không được đánh số (ul) nằm trong lớp .navbar. Nó đặt nội dung thành một chuỗi rỗng, đặt chiều cao thành 3px, đặt chiều rộng thành 100%, đặt màu nền thành #009688, đặt vị trí thành absolute, đặt left thành 0px, và đặt bottom thành -10px. Điều này tạo ra hiệu ứng gạch chân trên các phần tử danh sách.
*/
/* .navbar ul li ::after{
    content: '';
    height: 3px;
    width: 100%;
    /* background:#009688; */
    /* position: absolute;
    left: 0;
    bottom: -10px; */
    

/* } */
/*
.navbar ul li:hover::after là một pseudo-element ::after được áp dụng khi người dùng rê chuột qua (hover) các mục menu nằm trong thanh điều hướng (navbar).

Khi chuột hover vào một mục menu trong thanh điều hướng, đoạn mã này đặt thuộc tính width của pseudo-element này thành 100% (chiều rộng tối đa), tạo ra một thanh gạch dưới màu xanh lam (#009688) rộng bằng chiều rộng của phần tử cha (mục menu).

Thuộc tính transition: 0.5s; được sử dụng để áp dụng hiệu ứng chuyển đổi mượt mà (transition) có thời gian 0.5 giây cho việc thay đổi chiều rộng và màu sắc của thanh gạch dưới khi chuyển từ trạng thái bình thường sang trạng thái hover và ngược lại.
*/
/* .navbar ul li:hover ::after{
    width: 100%;
    background:#009688;
    transition: 0.5s;
} */ */

/* Content */
.content{
    width: 100%;
    top: 50%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
}
.content h1{
    font-size: 50px;
    margin-top: 10%;
    margin-left: 10%;
    color: bisque;
  
    
    
    
}
.content p{
    margin: 20px auto;
    color: black;
    font-weight: 900;
    line-height: 25px;
    margin-left: 10%;

}
.content input{
    margin-left: 13%;
    width: 200px;
    height: 35px;
}
.content button{
   padding: 12px 10px;
    background: red;
    color : #fff;
    border: 2px;
}
.content2{
    background-color:rgb(59, 8, 8);
}
.column{
    
    width: 25%;
    float: left;
    justify-content: space-between;
}
.column img{
    max-width: 100%;
    height: auto;
}
