@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Các ví dụ về ASP.NET</h1>
    <p><a href="MH_NhapSanPham">1. Nhập và lưu trữ sản phấm </a>.</p>
    <p><a href="MH_DanhSachSanPham">2. Tìm kiếm sản phấm </a>.</p>
</div>
