<div class="col-md-3">
    <div class="sidebar-widget category">
        <h2 class="title">Category</h2>
        <ul>
            {{#each categories}}
            <li><a href="/products?category{{id}}">{{name}}</a><span>{{Products.length}}</span></li>
            {{/each}}
        </ul>
    </div>

    <div class="sidebar-widget image">
        <h2 class="title">Featured Product</h2>
        <a href="#">
            <img src="img/category-1.jpg" alt="Image">
        </a>
    </div>

    <div class="sidebar-widget brands">
        <h2 class="title">Our Brands</h2>
        <ul>
            <li><a href="#">Nulla </a><span>(45)</span></li>
            <li><a href="#">Curabitur </a><span>(34)</span></li>
            <li><a href="#">Nunc </a><span>(67)</span></li>
            <li><a href="#">Ullamcorper</a><span>(74)</span></li>
            <li><a href="#">Fusce </a><span>(89)</span></li>
            <li><a href="#">Sagittis</a><span>(28)</span></li>
        </ul>
    </div>

    <div class="sidebar-widget tag">
        <h2 class="title">Tags Cloud</h2>
        <a href="#">Lorem ipsum</a>
        <a href="#">Vivamus</a>
        <a href="#">Phasellus</a>
        <a href="#">pulvinar</a>
        <a href="#">Curabitur</a>
        <a href="#">Fusce</a>
        <a href="#">Sem quis</a>
        <a href="#">Mollis metus</a>
        <a href="#">Sit amet</a>
        <a href="#">Vel posuere</a>
        <a href="#">orci luctus</a>
        <a href="#">Nam lorem</a>
    </div>
</div>