 /* Root */
 :root{
    --primary-color: #e38773;
    --secondary-color: #252525;
 }
 
 /* Header */
 header{
    background: url(images/chan-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
 }
/* lùi thẻ h3 của header về bên trái 1 chút */
/* header h3{
   left: 0;
} */

 .btn-primary{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
 }

 .btn-secondary{
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
 }

 .btn-outline-primary{
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
 }

 /* Cau 3 */
#cau3{
    min-height: 600px;
}
 #cau3 img{
    position: absolute;
    top: 0;
    right: 0;
    width: 680px;
    height: 420px;

 }
 #cau3 form{
    position: absolute;
    top: 1rem;
    left: 0;
    width: 50%;
    border-color: var(--primary-color) !important;
    padding: 1rem;
    
    
 }
 
 .form-control{
    border-color: var(--primary-color) !important;
 }

 