@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body style="font-family:Cambria">
    
    <!--Phân quyền-->
   
    <!--Hiển thị dữ liệu-->
    <table style="width:100%; text-align:center">
        <tr>
            <td>STT</td>
            <td>SỐ HÓA ĐƠN</td>
            <td>NGÀY HÓA ĐƠN</td>
            <td>NGÀY SẢN XUẤT</td>
            <td>MÃ HÀNG</td>
            <td>TÊN HÀNG HÓA</td>
            <td>SỐ LƯỢNG</td>
            <td>ĐƠN GIÁ</td>
            <td>THÀNH TIỀN</td>
            <td>LOẠI HÀNG</td>
            <td>NHÀ SẢN XUẤT</td>
            <td>HẠN SỬ DỤNG</td>
        </tr>


    </table>
















</body>









</html>



