<div class="thread card mb-3">
            <div class="card-body">
                <h6 class="card-title">@user7</h6>
                <p class="card-text">Cervus expedita arceo volubilis conturbo acsi textor cicuta voveo. Aperte vobis
                    molestias in ventito. Terreo summa bestia.</p>
                <img src="/assets/images/9.jpg" alt="Thread Media" class="img-fluid rounded w-100">
                <div class="d-flex justify-content-between mt-4">
                    <button type="button" class="btn btn-outline-primary btn-sm position-relative">
                        Like
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary p-1">
                            1
                            <span class="visually-hidden">Likes</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Comments -->
        <h6>Comments</h6>
        <!-- Add Comment -->
        <form action="" method="POST">
            <textarea class="form-control mb-2" rows="2" placeholder="Add a comment..." name="content"
                required></textarea>
            <button type="submit" class="btn btn-primary btn-sm">Post</button>
        </form>
        <div class="card my-2">
            <div class="card-body">
                <p><strong>@user5:</strong> Acervus minima uberrime tristis sperno dedecor.</p>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <p><strong>@user6:</strong> Adipiscor volaticus adfero tendo consuasor.</p>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <p><strong>@user2:</strong> Somnus ullus usitas tametsi dedico tui.</p>
            </div>
        </div>
