[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pyqt6-tools = "*"
pyinstaller = "*"
sockets = "*"
pillow = "*"
pandas = "*"
numpy = "*"
psutil = "*"
pynput = "*"
opencv-python = "*"
imutils = "*"
opencv-contrib-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
