 <div class="featured-product">
            <div class="container">
                <div class="section-header">
                    <h3>Message</h3>
                    <p class="alert alert-warning">
                        {{{message}}}
                    </p>
                </div>
            </div>
        </div>
