@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <h1 class="display-4" style="text-align:center">Ôn Tập</h1>
<div class="text-left">
    <p>
        <a href="CAU1">Câu 1:<br /></a>
        Xét màn hình cho phép tính chu vi tam giác. Hãy: <br/>
        - Cài đặt màn hình xử lý giao diện<br />
        - Cài đặt hàm xử lý nghiệp vụ tương ứng<br />
    </p>
    <p>
        <a href="Cau2_2018_2019">Câu 2:<br /></a>
        Xét chương trình xác định mảng số nguyên B có là con của mảng số nguyên A hay không (Các phần tử phải nằm liên tiếp nhau)<br />
        Hãy: <br />
        - Cài đặt hàm xử lý cho phép đọc mảng số từ tập tin<br />
        - Cài đặt xử lý nghiệp vụ<br />
        - Cài đặt màn hình cho phép nhập vào đường dẫn 2 file<br />

    </p>
    <p>
        <a href="Cau2_2020_2021">Câu 3:<br /></a>
        Xét trang web cho phép nhập vào thông tin của 1 sản phấm (Mã sản phẩm, tên sản phẩm, giá, hạn dùng, nhãn hàng)<br />
        - Nêu cách tổ chức dữ liệu trên tập tin<br />
        - Viết mã nguồn xử lý giao diện với ASP.NET Razor Page<br />
        - Viết mã nguồn xử lý lưu trữ<br />

    </p>
    <a href="Cau1_2021_2022">Câu 4:<br /></a>
    <p>
        Xét chương trình tính tổng các số nguyên dương nhỏ hơn N
    </p>
    <a href="Cau2_2021_2022">Câu 5:<br /></a>
    <p>
        Xét chương trình tính tổng trung bình cộng mảng số nguyên N
    </p>
</div>
